/* Register.css */

.register {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #b2acac;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .register h1 {
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .register .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .register .form-control:focus {
    border-color: #18191a;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .register .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #101112;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .register .btn-primary:hover {
    background-color: #0056b3;
  }
  